.openDia{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
}
.openDia2{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #333333;
    opacity: 0.7;
}
.contentBac {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 99;
    display: box;              /* OLD - Android 4.4- */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    align-content: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    position: relative;
    background-color: rgba(51, 51, 51, 0.7);
}
.maskContent{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
    height: 76%;
}
.maskContent2{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
    height: 550px;
}
.maskContent3{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
    height: 200px;
}
.maskContent4{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
}
.maskContent5{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
}
.maskContent6{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
    height: 360px;
}
.maskContent7{
    margin: auto;
    background-color: white;
    width: 83%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 15px;
    background-color: #c01d1f;
    padding: 10px;
    height: 410px;
}
.whitebac{
    background-color: #ffffff;
    border-radius: 15px;
    height: 100%;
    position: relative;
}
.opentittle{
    font-size: 30px;
    color: #c01d1f;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}
.rulecontent{
    font-size: 26px;
    color: #999999;
    width: 88%;
    margin: auto;
    text-align: left;
    line-height: 1.5;
    margin-top: 10px;
    padding-bottom: 40px;

    div{
        margin-bottom: 20px;
    }

    .money{
        // margin-top: -20px;
        font-size: 0;

        div{
            font-size: 26px;
            margin: 0;
        }
    }
}
.rulecontent2{
    padding-bottom: 150px;
}
.closegroup{
    position: absolute;
    right: 0;
    top: -92px;

    img{
        width: 60px;
    }
}
.money{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    align-content: center;
    -moz-box-pack: center;
    box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.lastline{
    text-align: right;
    color: #c01d1f;
    font-weight: bold;
}
.rulebac{
    // padding-top: 120px;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.rulebacchild{
    height: 100%;
}
.righttext{
    max-width: 66%;
}
.logtittle{
    font-size: 40px;
    color: #c01d1f;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 28px;
}
.inputtext{
    font-size: 30px;
    color: #c01d1f;
    font-weight: bold;
    text-align: left;
}
.inputline{
    width: 80%;
    margin: auto;
    font-size: 0;

    .inputp{
        border-bottom: 2px solid #c01d1f;
        margin-bottom: 50px;
        margin-top: 10px;
    }

    input{
        width: 100%;
        font-size: 26px;
        border: none;
        -webkit-appearance: none;
        margin: 0;
        height: 40px;
        margin-bottom: 5px;
        padding: 0;
        padding-bottom: 3px;
        height: 48px;
        user-select: text;
        cursor: pointer;
    }

    input:focus{
        outline: none;
    }

    .code{
        width: 50%;
    }
    .getcode{
        width: 30%;
        background-color: #c01d1f;
        border-radius: 10px;
        text-align: center;
        color: white;
        border: none;
        font-size: 24px;
        padding-right: 0;
        color: #ffffff;
        height: 48px;
        line-height: normal;
        padding-top: 3px;
    }
}
.codegroup{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    align-content: center;
    -moz-box-pack: center;
    box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.loginbtn{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    // background-image: url("../assets/login.png");
    background-size: 100% 100%;
    width: 160px;
    height: 80px;
    font-weight: bold;
    line-height: 85.5px;
    margin: auto;
    margin-top: 90px;
    background: #c01d1f;
    border-radius: 10px;
}
.nozg{
    font-size: 26px;
    color: #999999;
    width: 88%;
    margin: auto;
    text-align: left;
    line-height: 1.5;
    padding-top: 40px;
}
.prizetittle{
    font-size: 40px;
    color: #c01d1f;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 20px;
}
.prizetittlegray{
    font-size: 40px;
    color: #666666;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 20px;
}
.prizetips{
    font-size: 26px;
    color: #999999;
    width: 88%;
    margin: auto;
    text-align: left;
    line-height: 1.5;
    padding-top: 0px;
    padding-bottom: 60px;
    text-align: center;
    margin-top: 60px;
}
.prizetips2{
    font-size: 26px;
    color: #999999;
    width: 88%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    padding-top: 0px;
    margin-top: 20px;
}
.prizetips3{
    font-size: 26px;
    color: #999999;
    width: 88%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    padding-top: 0px;
    margin-top: 20px;
    padding-bottom: 40px;
}
.prizetips4{
    font-size: 26px;
    color: #999999;
    width: 88%;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
    padding-top: 40px;
    padding-bottom: 40px;
}
.draw-result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.confirm{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-size: 100% 100%;
    width: 160px;
    height: 80px;
    font-weight: bold;
    line-height: 85.5px;
    margin: auto;
    margin-top: 30px;
    background: #c01d1f;
    border-radius: 10px;
}
.save{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-size: 100% 100%;
    width: 330px;
    height: 80px;
    font-weight: bold;
    line-height: 85.5px;
    margin: auto;
    margin-top: 30px;
    background: rgba(238,91,93, 1);
    border-radius: 10px;
    margin-left: 0;
}
.save2{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-size: 100% 100%;
    width: 160px;
    height: 80px;
    font-weight: bold;
    line-height: 80px;
    margin: auto;
    margin-top: 30px;
    background: rgba(238,91,93, 0.7);
    border-radius: 10px;
    margin-left: -10px;
}
.confirm2{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-size: 100% 100%;
    width: 160px;
    height: 80px;
    font-weight: bold;
    line-height: 85px;
    margin: auto;
    margin-top: 90px;
    background: #c01d1f;
    border-radius: 10px;
}
.prizeimg{

    img{
        height: 2.66667rem;
        display: block;
        margin: auto;
    }
}
.loadgif{
    width: 100%;
    height: 100%;
}
.postaddr{
    font-size: 30px;
    color: #c01d1f;
    font-weight: bold;
    text-align: left;
}
.postgroup{
    width: 80%;
    margin: auto;
    font-size: 0;
    padding-top: 38px;
}
.postinput{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.postinput textarea{
    width: 100%;
    height: 100%;
    border: 2px solid #c01d1f;
    outline: none;
    appearance: none;
    color: #333333;
    resize: none;
    user-select: text;
    cursor: pointer;
}
textarea:focus{
    outline: none;
    appearance: none;
    font-size: 26px;
}
.lastmoney{
    margin-bottom: 0;
}
.blacktittle{
    color: #c01d1f;
    font-weight: bold;
}
.agreegroup{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.agreerule{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    background-size: 100% 100%;
    width: 330px;
    height: 80px;
    font-weight: bold;
    line-height: 85.5px;
    margin: auto;
    background: rgba(238,91,93, 1);
    border-radius: 10px;
    box-shadow: 1px 2px 3px 4px #c01d1f;
}
